docs/
.scm-commit-msg
models/ms-marco-MultiBERT-L-12/.DS_Store
models/ms-marco-MultiBERT-L-12/config.json
models/ms-marco-MultiBERT-L-12/flashrank-MultiBERT-L12_Q.onnx
models/ms-marco-MultiBERT-L-12/special_tokens_map.json
models/ms-marco-MultiBERT-L-12/tokenizer_config.json
models/ms-marco-MultiBERT-L-12/tokenizer.json
models/ms-marco-MultiBERT-L-12/vocab.txt
models/__MACOSX/ms-marco-MultiBERT-L-12/._.DS_Store
models/__MACOSX/ms-marco-MultiBERT-L-12/._config.json
models/__MACOSX/ms-marco-MultiBERT-L-12/._flashrank-MultiBERT-L12_Q.onnx
models/__MACOSX/ms-marco-MultiBERT-L-12/._special_tokens_map.json
models/__MACOSX/ms-marco-MultiBERT-L-12/._tokenizer_config.json
models/__MACOSX/ms-marco-MultiBERT-L-12/._tokenizer.json
models/__MACOSX/ms-marco-MultiBERT-L-12/._vocab.txt
models/__MACOSX/._ms-marco-MultiBERT-L-12
